<body class="background_image">
  <%= render "tops/header" %>
  <div class="title">
    <b class="text-center">
      <h1>悩むより前へ</h1><br>
      <p>インターネットでお悩みの方へ</p>
      <p>数秒で終わる二者択一問題で悩み解決の手助けをします。</p>
    </b>
    <div class="row">
      <%= link_to tests_path, data: {"turbolinks" => false} do %>
        <span class= "custom-btn">始める</span>
      <% end %>
      <%= link_to test_path(id: 1) do %>
        <span class= "custom-btn">使い方</span>
      <% end %>
    </div>
  </div>
</body>