<!-- 第１問 -->

<div>
  <p><%= session[:quiz][:detail].question %></p>
  <ul class="flex">
    <li>
      <%= link_to "#{session[:quiz][:detail].first_answer}", admins_test_details_path(quiz: 1), method: :get, remote: false, class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to "#{session[:quiz][:detail].second_answer}", admins_test_details_path(quiz: 2), method: :get, remote: false, class: "btn btn-primary" %>
    </li>
  </ul>
</div>