<div class="container">
  <%= render "admins/tops/header" %>

    <!-- 問題プレビュー -->
    <div id="question_<%= @test.id %>">
      <%= render "admins/details/#{@question}_quiz", test: @test, detail: @detail %>
    </div>
</div>
