<div class="container">
  <%= render "admins/tops/header" %>
  <h3 class="admins_index">診断新規投稿</h3>

<!-- 診断詳細新規作成フォーム -->
  <%= render "admins/tests/form", test: @test, detail: @details, categories: @categories, patterns: @patterns %>
</div>