<%= render "admins/tops/header" %>
<div class="container">
  <div class="row">
  <h3 class="admins_index">診断新規投稿</h3>
</div>
<div class="row">
  <%= render "admins/tests/form", test: @test, detail: @detail, result: @result %>
</div>
</div>