/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

a:hover{
text-decoration:none;
}

/*　ハートの色 */
.heart{
  color: red;
  text-size: 30px;
}
.heart-o{
  color: rgba(0, 0, 0, 0.3);
  text-size: 30px;
}

.admins_index{
	background-color: #EEEEEEEE;
	width: 200px;
	text-align: center;
}

.thead{
	background-color: #EEEEEEEE;
}

.center{
	text-align: center;
}

.flex{
	desplay:flex;
}

ul {
  list-style: none;
}

/* ナビバーの上部固定のための隙間(フロートしているため)、フォントはtwitter風にとりあえず。後は雰囲気で */
body{
	padding-top:4.5rem;
    font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}

/* ナビバーのボタン */
form{
	  span{
    color: #EEEEEEEE;
	  margin-left: 40px;
	  }
    button{
    margin-left: 10px;
    }
}

/* ボタンのアンダーライン */
.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.underline::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #2196F3;
  transition: all 0.3s ease 0s;
}
.underline:hover {
  cursor: pointer;
}
.underline:hover::after {
  width: 100%;
}