// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-plus-sign{
	font-size: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}