<div class="container">
  <%= render "admins/tops/header" %>
  <h3 class="admins_index">管理者メニュー</h3>
  <%= link_to admins_inquiries_unread_path do %>
    <i class="fa fa-envelope" aria-hidden="true">未読を表示する</i>
  <% end %>
</div>