<!-- 第２問 -->

<div class="row details_row border-bottom">
  <h3><%= session[:quiz][:detail].question %></h3>
</div>

<div class="row details_row">
  <div class="card col text-center">
      <%= link_to "#{session[:quiz][:detail].first_answer}", test_details_path(quiz: session[:quiz][:choice] + "1"), method: :get, remote: false, class: "card-body" %>
  </div>
  <div class="card col text-center">
      <%= link_to "#{session[:quiz][:detail].second_answer}", test_details_path(quiz: session[:quiz][:choice] + "2"), method: :get, remote: false, class: "card-body" %>
  </div>
</div>