<div class="container">
  <%= render "tops/header" %>

    <!-- 問題 -->
    <div id="question_<%= @test.id %>">
      <%= render "details/#{@question}_quiz", test: @test, detail: @detail %>
    </div>
</div>
